@font-face {
  font-family: "iransans";
  src: local("iransans"),
   url("./fonts/Iransans.ttf") format("truetype");
 }

 
*{
  font-family: iransans, Arial, sans-serif !important;
font-weight: 600;
}